body{
  text-align: center;
}
.first_container{
  background-color: #E4F9F5;
  position: relative;
  padding: 100px;
}
.first_cloud{
  position: absolute;
  right:350px; /*16px=100%=1em */
  top: 50px;
}
h2{
  font-size: 2.5rem;
}

.second_cloud{
  position: absolute;
  left:350px;
  bottom: 450px;
}
p{
  font-family: 'Merriweather', serif;
}
h1{
  font-family: 'Sacramento', cursive;
  font-size: 60px;
}
.front_icon{
  height: 100px;
  width: 100px;
}
.first_skill{
  height: 50px;
  width: 50px;
}
.second_skill{
  height: 50px;
  width: 50px;
}
.python_img{
  height: 50px;
  width: 50px;
  display: inline;
}
.java_script_img{
  height: 50px;
  width: 50px;
  display: inline;
}
.middle_container{
  background-color:	#00ffbf;
}
.bottom_container{
  background-color: 	#E4F9F5;
}
